body {
    background-color: #FBFBFB;
    font-family:  $font-family-roboto;
    font-size: 14px;
    color: $color-black;
}

strong {
    font-weight: $font-weight-semibold;
}

a {
   text-decoration: none;
}