$color-green: #3FEC7A;
$color-green-dark: #3BBC48;

$color-blue: #00103D;
$color-blue-extra-light: #eaf0ff;
$color-blue-light: #a3b8ec;
$color-blue-dark: #2C73DD;

$color-red: #DD2C2C;

$color-yellow: #f8da30;
$color-yellow-dark: #f3c017;

$color-gray-light: #F6F6F6;
$color-gray-dark: #BDBDBD;
$color-gray: #ebebeb;

$color-black: #1d1d1d;
$color-white: #fafafa;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-family-gilroy-raw: 'Gilroy';
$font-family-gilroy: $font-family-gilroy-raw, sans-serif;

$font-family-roboto-raw: 'Roboto';
$font-family-roboto: $font-family-roboto-raw, sans-serif;